<div class="container">
  <div class="row">
    <% @teacher_subjects.each do |lesson| %>
      <div class="col-xs-4">
        <div class="card">
            <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('http://wallpapercave.com/wp/6CCxuBL.jpg');">
            <%= image_tag(lesson.user.photo, alt: lesson.user.name, class: 'pull-right avatar avatar-large') %>
              <p class="card-category"><%= lesson.subject.name %></p>
              <div class="card-description">
                <h2><%= lesson.user.name %></h2> 

              </div>
            </div>
            <p><%= link_to "", teacher_subject_path(lesson), class: "card-link" %></p>
          <div class="card-footer">
            <p>From <%= lesson.begin.strftime('%m/%d/%Y') %> to <%= lesson.end.strftime('%m/%d/%Y') %></p>
            <div class="controls">
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
