<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <div class="col-sm-6">
        <div class="info">

          <div class="card" style="background: url('http://wallpapercave.com/wp/6CCxuBL.jpg') no-repeat center center;">

            <div class="card-category">Teacher</div>
            <div class="card-description">
              <h2><%= link_to @teacher_subject.user.name, profile_path(Profile.where(user_id: @teacher_subject.user.id).first.id), class: "cisco-merda" %></h2>
            </div>
            <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="info">


          <div class="card" style="background: url('http://wallpapercave.com/wp/6CCxuBL.jpg') no-repeat center center;">

            <div class="card-category">Lesson</div>
            <div class="card-description">
              <h3><%= @teacher_subject.subject.name %></h3>
              <%= link_to "Book now", teacher_subject_lessons_path(@teacher_subject), method: :post, class: "btn-treehouse pull-right" %>
              <!-- <a href="#" class="btn-treehouse">Book lesson</a> -->
            </div>
            <%= image_tag("icons/logo-web.png", :alt => "Papyru Learning", class: "card-logo") %>
          </div>
        </div>
      </div>

      <div class="col-sm-12">
        <div class="info">
          <h1 style="color: #20AD24; top: 20px;">Rating and reviews</h1>
             <% @teacher_subject.reviews.each do |review| %>
          <div class="message">
            <%= link_to(image_tag(user_avatar(review.user), :alt => review.user.name, :title => review.user.name, class: 'avatar-large')) %>
            <div class="message-name">
              <h3><%= review.user.name %></h3>
              <p> <%= review.lesson.date.to_s %></p>
            </div>

            <div class="message-body">
              <p><strong>Ranting: <%= review.rating %></strong></p>
              <p>
                <%= review.content %>
              </p>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div id="map" style="position: relative; overflow: hidden;">
        <div style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);">
          <div class="gm-err-container">
            <div class="gm-err-content">
              <div class="gm-err-icon">
                <img src="https://maps.gstatic.com/mapfiles/api-3/images/icon_error.png" draggable="false" style="user-select: none;">
              </div>
              <div class="gm-err-title">Ups! Ocorreu um erro.</div>
              <div class="gm-err-message">Esta página não carregou corretamente o Google Maps. Consulte a Consola de JavaScript para obter detalhes técnicos.</div>
            </div>
          </div>
        </div>

      </div>
    </div>


    <script>
      function initMap() {
        // Create a map object and specify the DOM element for display.
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 38.7541, lng: -9.1855},
          scrollwheel: false,
          zoom: 8
        });
      }
    </script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Gmaps JavaScript -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzER7O10ZOUp7FloJzMe2r8X1GIQhgt7Q&callback=initMap">
  </script>

  </div>
</div>



