<div class="container">
  <div class="row">

    <div class="col-sm-4">

      <img src='https://kitt.lewagon.com/placeholder/users/alex-felix' class="avatar-large"/>
      <p>name: <%= @teacher_subject.user.name %> </p>
      <p>email: <%= @teacher_subject.user.email %></p>
      <p>address: <%= @teacher_subject.user.address %></p>

    </div>

    <div class="col-sm-4">

      <h1> lesson description</h1>
      <h2>You will teach <%= @teacher_subject.subject.name %> from <%= @teacher_subject.begin %> to <%= @teacher_subject.end %>.</h2>

    </div>

    <div class="col-sm-4">
        <h1>map map map</h1>
        <h1>map map map</h1>
        <h1>map map map</h1>
        <h1>map map map</h1>
        <h1>map map map</h1>
    </div>

  </div>

  <br>

  <div class="row">
    <div class="col-sm-8">
      <h1>Ratings and review</h1>


      <div class="message">

        <img class="avatar-large" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
        <div class="message-name">
          <h3>Manel</h3>
          <p>10/07/17</p>
        </div>
        <div class="message-body">
          <p><strong>To fast to learn!</strong></p>
          <p>
            blablablablablablablablablablablablablablablablablablablablablablablablablabla
          </p>
        </div>
      </div>

      <div class="message">

        <img class="avatar-large" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
        <div class="message-name">
          <h3>Gabrigol</h3>
          <p>10/07/17</p>
        </div>
        <div class="message-body">
          <p><strong>To fast to learn!</strong></p>
          <p>
            blablablablablablablablablablablablablablablablablablablablablablablablablabla
          </p>
        </div>
      </div>

      <div class="message">

        <img class="avatar-large" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
        <div class="message-name">
          <h3>Cisco</h3>
          <p>10/07/17</p>
        </div>
        <div class="message-body">
          <p><strong>To fast to learn!</strong></p>
          <p>
            blablablablablablablablablablablablablablablablablablablablablablablablablabla
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
        <h1>map map map</h1>
        <h1>map map map</h1>
        <h1>map map map</h1>
        <h1>map map map</h1>
        <h1>map map map</h1>

    </div>

  </div>
</div>

